#!/bin/bash
leftdate=$(date --date='1 hour ago')
currentdate=$(date)

parse=$(sudo awk '{print "- " $1 ","}' /var/log/nginx/access.log | uniq -c | sort -nr)

echo ""$parse | sed 's/,/\n/g' > mail

echo "report from $leftdate to $currentdate" | mail -s "nginx_log" -q mail {{ mail }}  
