#!/bin/bash

access=$(awk '{ print $1, $7 }' /var/log/nginx/access.log | sort -uk1 /var/log/nginx/access.log)
error=$(sudo cat /var/log/nginx/error.log)
echo -e "переходы:\n$access\nошибки:\n$error " | mail -s "sendlog" {{ mail }}
